@model Vivero.Models.ViewModelPlanta;

@{
    ViewData["Title"] = "Create";
}



<h3>Insertar una nueva Planta</h3>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create" enctype="multipart/form-data" id="crearPlanta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Planta.nombreCientifico" class="control-label">Nombre </label>
                <input asp-for="Planta.nombreCientifico" class="form-control" id="nombrePlanta" />
                <span asp-validation-for="Planta.nombreCientifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planta.descripcionPlanta" class="control-label">Descripción </label>
                <textarea asp-for="Planta.descripcionPlanta" class="form-control" id="descripcionPlanta" rows="5" cols="5"></textarea>
                <span asp-validation-for="Planta.descripcionPlanta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planta.alturaMax" class="control-label">Altura (cm)</label>
                <input asp-for="Planta.alturaMax" class="form-control" id="alturaMax" />
                <span asp-validation-for="Planta.alturaMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planta.frecuenciaRiego" class="control-label">Frecuencia de Riego</label>
                <input asp-for="Planta.frecuenciaRiego" class="form-control" id="riegoPlanta" />
                <span asp-validation-for="Planta.frecuenciaRiego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planta.temperatura" class="control-label">Temperatura (°C)</label>
                <input asp-for="Planta.temperatura" class="form-control" id="tempPlanta" />
                <span asp-validation-for="Planta.temperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planta.nombresVulgares" class="control-label">Nombres Vulgares</label>
                <textarea asp-for="Planta.nombresVulgares" class="form-control" id="nombresVulgares" rows="5" cols="5"></textarea>
                <span asp-validation-for="Planta.nombresVulgares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input asp-for="Foto" class="form-control" id="fotoP" />
            </div>
            <div class="form-group">
                <select name="idTipoPlanta" id="idTipoPlanta">
                    <option value="0">Seleccione Tipo de Planta</option>
                    @foreach (Dominio.EntidadesVivero.TipoPlanta tp in ViewBag.TipoPlantas)
                    {
                        <option value="@tp.id">@tp.nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select name="idTipoAmbiente" id="idTipoAmbiente">
                    <option value="0">Seleccione Tipo de Ambiente</option>
                    @foreach (Dominio.EntidadesVivero.TipoAmbiente ta in ViewBag.TipoAmbientes)
                    {
                        <option value="@ta.id">@ta.tipoAmbiente</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select name="idIluminacion" id="idIluminacion">
                    <option value="0">Seleccione Tipo de Planta</option>
                    @foreach (Dominio.EntidadesVivero.Iluminacion ilu in ViewBag.Iluminaciones)
                    {
                        <option value="@ilu.id">@ilu.tipoIluminacion</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Insertar" class="btn btn-primary" />
            </div>
            <input type="number" class="form-control" id="minimaDesc" name="minimaDesc" value="10" readonly hidden />
            <input type="number" class="form-control" id="maximaDesc" name="maximaDesc" value="500" readonly hidden />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Mostrar todas las Plantas</a>
</div>

<p id="pMensaje">@ViewBag.Error</p>

<style>
    textarea {
        resize: none;
    }
</style>


@section Scripts {
    <script>
        document.querySelector("#crearPlanta").addEventListener('submit', agregar)

        function agregar(evento) {
            evento.preventDefault();

            let nombre = document.querySelector("#nombrePlanta").value;
            let descripcionTipo = document.querySelector("#descripcionPlanta").value;
            let altM = Number(document.querySelector("#alturaMax").value);
            let riegoP = document.querySelector("#riegoPlanta").value;
            let temp = Number(document.querySelector("#tempPlanta").value);
            let nombresV = document.querySelector("#nombresVulgares").value;
            let fotoPl = document.querySelector("#fotoP").value;
            let idTipoPlanta = document.querySelector("#idTipoPlanta").value;
            let idTipoAmbiente = document.querySelector("#idTipoAmbiente").value;
            let idIluminacion = document.querySelector("#idIluminacion").value;
            let MinimoDesc = document.querySelector("#minimaDesc").value;
            let MaximoDesc = document.querySelector("#maximaDesc").value;

            descripcionTipo = descripcionTipo.trim();            
            nombresV = nombresV.trim();
            let nombreConNum = false;

            if (nombre != "" && descripcionTipo != "" && nombresV != "" && altM > 0 && riegoP != "" && temp != "" && fotoPl != "" && idTipoPlanta != 0 && idTipoAmbiente != 0 && idIluminacion != "") {

                if (nombre.charAt(0) != " " && nombre.charAt(nombre.length - 1) != " ") {

                    nombre = nombre.replaceAll(" ", "_");

                    for (let i = 0; i < nombre.length; i++) {
                        if (Number(nombre[i]) >= 0 || Number(nombre[i]) <= 9) {
                            nombreConNum = true;
                            break;
                        }
                    }
                    if (!nombreConNum) {
                        if (descripcionTipo.length >= MinimoDesc && descripcionTipo.length <= MaximoDesc) {
                            document.querySelector("#pMensaje").innerHTML = "";
                            this.submit();
                        }
                        else {
                            document.querySelector("#pMensaje").innerHTML = "El campo descripción debe tener entre " + MinimoDesc + " y " + MaximoDesc + " caracteres.";
                        }
                    }
                    else {
                        document.querySelector("#pMensaje").innerHTML = "El nombre de la Planta tiene números, verifíquelo.";
                    }

                }
                else {
                    document.querySelector("#pMensaje").innerHTML = "El nombre de la Planta tiene espacios al principio o al final, verifíquelo.";
                }

            } else {
                document.querySelector("#pMensaje").innerHTML = "Complete todos los campos y altura máxima mayor que 0.";
            }
        }

    </script>
}
