@model IEnumerable<Dominio.EntidadesVivero.Planta>

@{
    ViewData["Title"] = "Plantas";
}

<h1>Plantas</h1>
<div class="row">
    <div class="col-sm text-sm-left">
        <p>
            <a asp-action="Create">Crear Nuevo</a>
            <a asp-action="Busquedas">Búsquedas</a>
        </p>
    </div>
</div>

@if (Model.Count() == 0)
{
    <p>No hay registros para mostrar.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre Científico
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Altura Máxima (cm)
                </th>
                <th>
                    Frecuencia de Riego
                </th>
                <th>
                    Tipo de Ambiente
                </th>
                <th>
                    Temperatura (°C)
                </th>
                <th>
                    Tipo de Planta
                </th>
                <th>
                    Iluminación
                </th>
                <th>
                    Nombres Vulgares
                </th>
                <th>
                    Foto
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreCientifico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcionPlanta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.alturaMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.frecuenciaRiego)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoAmbiente.tipoAmbiente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temperatura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoPlanta.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoIlumincacion.tipoIluminacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombresVulgares)
                </td>
                <td>
                    <img src="~/img/@item.foto" alt="@item.nombreCientifico" title="@item.nombreCientifico" width="200" height="200"/>                    
                </td>                
            </tr>
            }
        </tbody>
    </table>
}
